In [28]:
# Data manipulation
import pandas as pd # data manipulation and dataframes

In [29]:
# Pandas configuration
pd.set_option('display.max_columns', None)  # shows all columns
pd.set_option('display.max_colwidth', None)  # shows all cell content

In [30]:
# Reads csv and creates a dataframe

df = pd.read_csv(f'../data/portugal/density_porto.csv', delimiter = ';', index_col = 0)
df.reset_index(drop = False, inplace = True)
df

                District Densidade populacional
0            A. M. Porto                  852,5
1                 Arouca                   63,9
2                Espinho                   1475
3               Gondomar                   1246
4                   Maia                 1638,7
5             Matosinhos                 2774,5
6    Oliveira de Azeméis                  410,4
7                Paredes                  538,7
8                  Porto                 5619,3
9        Póvoa de Varzim                  783,6
10  Santa Maria da Feira                  633,5
11           Santo Tirso                  494,5
12   São João da Madeira                 2808,4
13                 Trofa                  536,5
14        Vale de Cambra                  143,9
15               Valongo                 1268,9
16         Vila do Conde                  543,5
17     Vila Nova de Gaia                 1804,8