In [2]:
# Data manipulation
import pandas as pd # data manipulation and dataframes

In [3]:
# Pandas configuration
pd.set_option('display.max_columns', None)  # shows all columns
pd.set_option('display.max_colwidth', None)  # shows all cell content

In [15]:
# Reads csv and creates a dataframe
df = pd.read_csv('../data/ayuntamiento/Book1.csv')
df

                District Population    Density
0       Ciudad de Madrid  3,286,662   5,479.82
1                 Centro    139,682  27,014.03
2             Arganzuela    152,638  23,868.58
3                 Retiro    117,672  21,689.06
4              Salamanca    145,457  27,078.09
5              Chamartín    144,371  15,879.27
6                 Tetuán    157,433  29,740.87
7               Chamberí    137,287  29,634.86
8    Fuencarral-El Pardo    246,281   1,041.42
9        Moncloa-Aravaca     12,036   2,596.84
10                Latina    237,048    9,444.8
11           Carabanchel    255,514  18,410.24
12                 Usera    140,808  18,315.65
13    Puente de Vallecas    235,638  15,970.55
14             Moratalaz      9,239   15,370.7
15         Ciudad Lineal    213,905  18,976.37
16             Hortaleza    195,017   7,047.03
17            Villaverde    153,829   7,668.47
18     Villa de Vallecas    114,817   2,229.24
19             Vicálvaro     79,328    2,140.4
20   San Blas-Canillejas    158,783    7,188.9
21               Barajas     48,404    1,194.5
22           A. M. Porto  1,740,117      852.5
23                Arouca     21,043       63.9
24               Espinho     31,059      1,475
25              Gondomar    164,371      1,246
26                  Maia     135,94    1,638.7
27            Matosinhos    173,184    2,774.5
28   Oliveira de Azeméis     66,111      410.4
29               Paredes     84,439      538.7
30                 Porto    232,753    5,619.3
31       Póvoa de Varzim     64,418      783.6
32  Santa Maria da Feira    136,756      633.5
33           Santo Tirso     67,528      494.5
34   São João da Madeira     22,307    2,808.4
35                 Trofa     38,633      536.5
36        Vale de Cambra     21,198      143.9
37               Valongo     95,328    1,268.9
38         Vila do Conde     80,999      543.5
39     Vila Nova de Gaia     30,405    1,804.8
40          A. M. Lisboa  2,869,627      951.7
41             Alcochete     19,309      150.4
42                Almada      176,5    2,521.1
43               Amadora    172,533    7,253.9
44              Barreiro     77,821    2,138.5
45               Cascais    213,812    2,195.2
46                Lisboa    544,095      5,438
47                Loures    202,636    1,211.6
48                 Mafra     86,795      297.6
49                 Moita      65,95    1,193.5
50               Montijo     56,051      160.8
51              Odivelas     149,15    5,619.1
52                Oeiras    172,093    3,750.7
53               Palmela     68,605      147.5
54                Seixal    166,468      1,744
55              Sesimbra     52,427      267.9
56               Setúbal      122,3        531
57                Sintra    385,777    1,208.5
58   Vila Franca de Xira    137,305      431.5