In [37]:
# Data manipulation
import pandas as pd # data manipulation and dataframes
from pandas_geojson import read_geojson, write_geojson

# Data visualization
import plotly.express as px

In [38]:
# Pandas configuration
pd.set_option('display.max_columns', None)  # shows all columns
pd.set_option('display.max_colwidth', None)  # shows all cell content

In [39]:
# Reads csv
df_city = pd.read_csv('../data/airbnb/madrid/listings.csv', index_col = 0)
df_rent_price_evol = pd.read_csv('../data/ayto/district_rent_evolution.csv', delimiter = ';', index_col = 0)

# Index
df_city.reset_index(drop = False, inplace = True)
df_rent_price_evol.reset_index(drop = False, inplace = True)

In [40]:
df_rent_price_evol

,Ano,Distrito,Ciudad de Madrid,Centro,Arganzuela,Retiro,Salamanca,Chamartin,Tetuan,Chamberi,Fuencarral-El Pardo,Moncloa-Aravaca,Latina,Carabanchel,Usera,Puente de Vallecas,Moratalaz,Ciudad Lineal,Hortaleza,Villaverde,Villa de Vallecas,Vicalvaro,San Blas-Canillejas,Barajas
0,2023,Febrero,16.6,21.4,16.3,17.5,21.0,17.6,17.0,20.0,13.5,15.4,13.0,12.6,13.6,13.2,12.1,14.2,13.7,11.9,11.8,11.4,12.7,12.6
1,2023,Enero,16.5,21.1,16.3,17.5,20.4,17.2,16.9,20.0,13.2,15.3,13.1,12.6,13.3,13.1,12.1,14.3,13.5,11.9,12.0,11.3,12.4,12.6
2,2022,Diciembre,16.2,20.3,16.1,17.2,20.0,16.8,16.6,19.7,13.1,15.3,13.0,12.7,12.9,12.9,12.0,14.3,13.3,12.0,11.9,11.2,12.5,12.5
3,2022,Noviembre,16.2,20.0,16.1,17.3,19.8,16.7,16.5,19.0,13.1,15.6,13.1,12.7,12.8,12.7,11.9,14.1,13.3,11.9,11.7,11.3,12.5,12.4
4,2022,Octubre,16.3,19.4,15.8,16.9,20.0,16.7,16.3,18.7,13.0,15.8,12.9,12.5,12.9,12.8,11.9,13.8,13.2,11.8,11.6,11.3,12.4,12.2
5,2022,Septiembre,16.3,19.2,15.7,16.4,20.0,16.7,16.3,18.3,12.9,15.8,12.9,12.5,12.9,12.7,12.0,13.8,13.2,11.7,11.7,11.2,12.3,12.1
6,2022,Agosto,16.1,18.9,15.7,16.3,19.4,16.7,16.0,18.0,12.8,15.6,12.7,12.3,13.1,12.5,11.7,13.7,13.0,11.4,11.7,11.1,12.2,12.2
7,2022,Julio,15.7,18.5,15.3,16.0,18.9,16.2,15.7,18.0,12.7,15.2,12.5,12.1,12.8,12.4,11.3,13.6,12.8,11.2,11.8,11.0,12.1,12.2
8,2022,Junio,15.7,18.5,15.3,16.0,18.9,16.2,15.7,18.0,12.7,15.2,12.5,12.1,12.8,12.4,11.3,13.6,12.8,11.2,11.8,11.0,12.1,12.2
9,2022,Mayo,15.4,18.5,15.2,16.0,18.5,16.2,15.5,17.8,12.6,15.1,12.3,12.0,12.5,12.5,11.4,13.4,12.8,11.1,11.6,10.8,12.0,12.4
10,2022,Abril,15.2,18.4,15.3,15.9,18.5,16.1,15.5,17.6,12.6,14.7,12.0,11.9,11.8,12.5,11.2,13.3,12.8,11.0,11.3,10.6,12.0,12.4
11,2022,Marzo,15.0,18.5,15.1,15.8,18.3,16.0,15.4,17.3,12.6,14.7,12.0,11.8,11.4,12.0,11.2,13.1,12.8,10.8,11.1,10.5,11.8,12.2
12,2022,Febrero,15.0,18.3,15.0,15.3,18.2,15.6,15.4,17.1,12.4,14.3,12.0,11.7,11.3,12.0,11.2,13.0,12.7,10.8,11.2,10.5,11.6,11.7
13,2022,Enero,14.7,17.9,14.7,15.2,17.6,15.3,15.3,17.2,12.4,14.2,12.0,11.7,11.3,12.0,11.1,13.0,12.6,10.9,11.3,10.5,11.5,11.6

In [41]:
fig = px.line(df_rent_price_evol, x = df_rent_price_evol['Centro'])

AttributeError: module 'plotly.express' has no attribute 'lineplot'