In [30]:
from keplergl import KeplerGl

# Data manipulation
import pandas as pd # data manipulation and dataframes

import pickle

import json

In [31]:
mean_price = pd.read_csv('../data/mean_price_june_may_2023_airbnb.csv')

In [32]:
mean_price[mean_price['Month'] == 'June 2023']

        Month  Mean price               District
21  June 2023   46.476190              Moratalaz
22  June 2023   86.426667              Chamartín
23  June 2023   54.681818      Villa de Vallecas
24  June 2023   55.000000     Puente de Vallecas
25  June 2023   55.908257                 Latina
26  June 2023   63.140625                  Usera
27  June 2023   75.868421                Barajas
28  June 2023   99.640244               Chamberí
29  June 2023   59.409091  Fuencarral - El Pardo
30  June 2023  104.214286      Moncloa - Aravaca
31  June 2023  114.738095              Hortaleza
32  June 2023  133.277046                 Centro
33  June 2023   56.567568             Villaverde
34  June 2023   67.904000          Ciudad Lineal
35  June 2023   57.404959            Carabanchel
36  June 2023  112.783784                 Retiro
37  June 2023   56.835443  San Blas - Canillejas
38  June 2023   90.674107             Arganzuela
39  June 2023  143.362745              Salamanca
40  June 2023   84.738372                 Tetuán
41  June 2023   62.384615              Vicálvaro

In [33]:
result = mean_price[mean_price['Month'] == 'June 2023'].sort_values(by=['Mean price'], ascending=False)
result.to_csv('../raw/eda-result/mean_price_june_2023.csv', index = False, sep = ',')