In [1]:
# Data manipulation
import pandas as pd # data manipulation and dataframes
import numpy as np # arrays manipulation and mathematical operations

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Pandas configuration
pd.set_option('display.max_columns', None)  # shows all columns
pd.set_option('display.max_colwidth', None)  # shows all cell content

In [3]:
# Reads csvs
mad_df = pd.read_csv('../data/mad/listings.csv', index_col = 0)
porto_df = pd.read_csv('../data/porto/listings.csv', index_col = 0)
lisbon_df = pd.read_csv('../data/lisbon/listings.csv', index_col = 0)

# Index
mad_df.reset_index(drop = False, inplace = True) # resets index named by url
porto_df.reset_index(drop = False, inplace = True) # resets index named by url
lisbon_df.reset_index(drop = False, inplace = True) # resets index named by url

In [4]:
mad_df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6369,Rental unit in Madrid · ★4.87 · 1 bedroom · 1 bed · 1 private bath,13660,Simon,Chamartín,Hispanoamérica,40.45724,-3.67688,Private room,90,4,104,2023-05-31,0.65,1,98,9,NaN

In [21]:
porto_df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,41339,Rental unit in Porto · ★4.70 · 1 bedroom · 3 beds · 1 bath,180050,Paula,PORTO,Lordelo do Ouro e Massarelos,41.1501,-8.66035,Entire home/apt,58,2,20,2022-07-28,0.16,1,147,2,29049/AL

In [22]:
lisbon_df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,393699,Rental unit in Lisboa · ★4.61 · 3 bedrooms · 3 beds · 1 shared bath,1593947,Nuno,Lisboa,Santo Antnio,38.71724,-9.14755,Private room,30,5,150,2022-10-08,1.1,12,169,1,NaN

In [7]:
mad_df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,23524.0,3.042946e+17,3.772467e+17,6369.000000,2.705431e+07,4.842274e+07,7.158394e+17,9.100071e+17
host_id,23524.0,1.961414e+08,1.713861e+08,7952.000000,3.586593e+07,1.398005e+08,3.488715e+08,5.188792e+08
latitude,23524.0,4.042142e+01,2.305564e-02,40.331397,4.040952e+01,4.042008e+01,4.043106e+01,4.053623e+01
longitude,23524.0,-3.694248e+00,2.772664e-02,-3.835330,-3.707461e+00,-3.701150e+00,-3.685967e+00,-3.543760e+00
price,23524.0,1.490957e+02,9.739543e+02,0.000000,5.000000e+01,8.900000e+01,1.430000e+02,8.511000e+04
minimum_nights,23524.0,7.463569e+00,3.301115e+01,1.000000,1.000000e+00,2.000000e+00,3.000000e+00,1.125000e+03
number_of_reviews,23524.0,4.182656e+01,7.869393e+01,0.000000,1.000000e+00,1.000000e+01,4.500000e+01,9.130000e+02
reviews_per_month,18505.0,1.773514e+00,1.877412e+00,0.010000,3.600000e-01,1.160000e+00,2.600000e+00,3.432000e+01
calculated_host_listings_count,23524.0,2.070940e+01,4.864312e+01,1.000000,1.000000e+00,2.000000e+00,1.200000e+01,2.660000e+02
availability_365,23524.0,1.711552e+02,1.342259e+02,0.000000,3.900000e+01,1.600000e+02,3.130000e+02,3.650000e+02
number_of_reviews_ltm,23524.0,1.362817e+01,2.144688e+01,0.000000,0.000000e+00,4.000000e+00,1.900000e+01,4.480000e+02

In [8]:
mad_df.describe(include='object').T

,count,unique,top,freq
name,23524,6826,Rental unit in Madrid · 1 bedroom · 1 bed · 1 bath,752
host_name,23521,4177,Javier,319
neighbourhood_group,23524,21,Centro,10198
neighbourhood,23524,126,Embajadores,2783
room_type,23524,4,Entire home/apt,14873
last_review,18505,1782,2023-06-04,834
license,2652,2262,VT REGISTRADA,44

In [9]:
mad_df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             3
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        5019
reviews_per_month                  5019
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           20872
dtype: int64

### limpieza para introducir en kepler.gl

In [10]:
mad_df.drop(['id', 'host_id', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license'], axis=1, inplace=True)

In [16]:
mad_df = mad_df.rename(columns={'neighbourhood_group': 'district'})

In [17]:
mad_df.sample(5)

,name,host_name,district,neighbourhood,latitude,longitude,room_type,price,minimum_nights
9456,Rental unit in Madrid · ★4.42 · 1 bedroom · 1 bed · 1 bath,Adri Y Julien,Centro,Embajadores,40.408500,-3.69763,Entire home/apt,85,7
14542,Rental unit in Madrid · ★3.0 · 2 bedrooms · 4 beds · 1.5 baths,Empresa Inagi,Tetuán,Cuatro Caminos,40.448530,-3.70345,Entire home/apt,125,7
15254,Rental unit in Madrid · 3 bedrooms · 3 beds · 1 shared bath,Joaquín,Tetuán,Valdeacederas,40.462320,-3.69866,Private room,35,1
21427,Rental unit in Madrid · ★4.0 · 1 bedroom · 2 beds · 1 bath,Aaron,Centro,Palacio,40.411032,-3.71198,Entire home/apt,58,1
7603,Condo in Madrid · 1 bedroom · 1 bed · 1 private bath,Carolina,Fuencarral - El Pardo,Mirasierra,40.495960,-3.70489,Private room,154,3

In [18]:
mad_df.to_csv('../data/kepler/mad_kepler.csv', index = False, sep = ',')

In [23]:
porto_df.drop(['id', 'host_id', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license'], axis=1, inplace=True)
porto_df = porto_df.rename(columns={'neighbourhood_group': 'district'})
lisbon_df.drop(['id', 'host_id', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license'], axis=1, inplace=True)
lisbon_df = lisbon_df.rename(columns={'neighbourhood_group': 'district'})

In [24]:
porto_df.to_csv('../data/kepler/porto_kepler.csv', index = False, sep = ',')
lisbon_df.to_csv('../data/kepler/lisbon_kepler.csv', index = False, sep = ',')

In [26]:
test = pd.read_csv('../data/ayto/csv_test.csv', index_col = 0)

In [27]:
test.head()

Empty DataFrame
Columns: []
Index: [;;;;;;;;;;;;;;;;;;;;;;, 2021;242.063;13.636;10.458;7.207;10.518;10.371;14.388;9.865;15.869;7.475;15.246;20.891;11.558;19.290;5.138;15.424;12.783;11.751;8.592;6.933;11.675;2.995, 01. Centro;15.830;6.622;1.378;500;585;395;613;991;304;533;599;778;409;552;106;459;214;243;161;86;247;55, 02. Arganzuela;10.654;845;4.586;388;224;133;218;235;192;195;427;787;731;376;88;230;207;330;156;111;162;33, 03. Retiro;7.440;341;433;3.116;577;205;169;207;195;139;122;150;137;345;287;253;191;79;198;112;157;27]