In [1]:
# Data manipulation
import pandas as pd # data manipulation and dataframes
import numpy as np # arrays manipulation and mathematical operations

In [2]:
# Pandas configuration
pd.set_option('display.max_columns', None)  # shows all columns
pd.set_option('display.max_colwidth', None)  # shows all cell content

In [10]:
# Reads csvs
mad_df = pd.read_csv('../data/mad/listings.csv', index_col = 0)

# Index
mad_df.reset_index(drop = False, inplace = True) # resets index named by url

In [12]:
mad_df.head(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6369,Rental unit in Madrid · ★4.87 · 1 bedroom · 1 bed · 1 private bath,13660,Simon,Chamartín,Hispanoamérica,40.457240,-3.676880,Private room,90,4,104,2023-05-31,0.65,1,98,9,NaN
1,21853,Rental unit in Madrid · ★4.58 · 1 bedroom · 1 bed · 1 bath,83531,Abdel,Latina,Cármenes,40.403810,-3.741300,Private room,31,4,33,2018-07-15,0.31,2,313,0,NaN
2,451174,casa particular in Madrid · ★4.71 · 1 bedroom · 1 bed · 1.5 baths,2240898,Alejandro,Chamberí,Almagro,40.434551,-3.698387,Private room,47,3,33,2023-06-05,0.53,1,72,21,NaN
3,24805,Rental unit in Madrid · ★4.90 · 6 bedrooms · 1 bed · 1 bath,346366726,Alvaro,Centro,Universidad,40.421830,-3.705290,Entire home/apt,92,5,29,2023-05-23,0.28,1,161,11,NaN
4,456165,Guest suite in Madrid · ★5.0 · 1 bedroom · 1 bed · 1 shared bath,617086,Agata,Carabanchel,Comillas,40.390320,-3.713820,Private room,30,2,10,2023-05-21,0.14,1,4,3,NaN
5,26825,Home in Madrid · ★4.72 · 1 bedroom · 1 bed · 1 private bath,114340,Maria,Arganzuela,Legazpi,40.389750,-3.690180,Private room,29,3,194,2023-05-16,1.22,1,285,30,NaN
6,459303,Rental unit in Madrid · ★4.56 · 1 bedroom · 1 bed · 1 bath,1408525,Mad4Rent,Centro,Universidad,40.425480,-3.704200,Entire home/apt,98,3,77,2023-06-03,0.73,67,241,31,VT- 556
7,459362,Rental unit in Madrid · ★4.54 · 1 bedroom · 1 bed · 1 bath,1408525,Mad4Rent,Centro,Sol,40.415920,-3.701770,Entire home/apt,104,3,91,2023-05-10,0.85,67,272,22,VT-555
8,29044,Rental unit in Madrid · 2 bedrooms · 2 beds · 2 baths,124972,Luisa,Moncloa - Aravaca,Argüelles,40.426890,-3.715520,Entire home/apt,91,10,2,2022-07-17,0.02,7,23,1,NaN
9,460898,Rental unit in Madrid · 3 bedrooms · 3 beds · 2 shared baths,2290984,Artur,Fuencarral - El Pardo,La Paz,40.485030,-3.698580,Private room,15,30,0,NaN,NaN,1,0,0,NaN
10,30320,Rental unit in Madrid · ★4.63 · 1 bedroom · 2 beds · 1 bath,130907,Dana,Centro,Sol,40.414760,-3.704180,Entire home/apt,65,5,172,2022-09-26,1.09,3,102,1,NaN
11,462072,Rental unit in Madrid · ★4.93 · 2 bedrooms · 4 beds · 1 bath,2296476,Jose Manuel,Centro,Palacio,40.408690,-3.710730,Entire home/apt,160,3,150,2023-05-10,1.12,1,90,38,VT-11049
12,30959,Loft in Madrid · ★4.38 · 1 bedroom · 1 bed · 1 bath,132883,Angela,Centro,Embajadores,40.412590,-3.701050,Entire home/apt,54,3,8,2017-05-30,0.08,1,0,0,NaN
13,468202,Rental unit in Madrid · ★4.60 · 1 bedroom · 1 bed · 1.5 baths,2322563,Julio And Sarah,Centro,Universidad,40.421230,-3.701330,Entire home/apt,50,30,289,2023-05-24,2.15,1,227,11,NaN
14,469231,Rental unit in Madrid · ★4.57 · 1 bedroom · 1 bed · 1 bath,1408525,Mad4Rent,Centro,Palacio,40.419410,-3.708230,Entire home/apt,94,3,61,2023-06-06,0.57,67,293,7,VT-524
15,40718,Rental unit in Madrid · ★4.61 · 1 bedroom · 2 beds · 1 bath,34217435,Luis,Centro,Justicia,40.419690,-3.697360,Entire home/apt,99,2,134,2023-04-24,0.86,13,290,10,NaN
16,470132,Rental unit in Madrid · ★4.75 · 1 bedroom · 2 beds · 1 bath,2332600,Rodrigo,Centro,Embajadores,40.410180,-3.701640,Entire home/apt,76,4,44,2023-04-30,0.33,1,147,4,VT-297
17,471198,Rental unit in Madrid · ★4.16 · 1 bedroom · 1 bed · 1 bath,1408525,Mad4Rent,Centro,Universidad,40.423590,-3.705370,Entire home/apt,109,3,50,2022-09-25,0.48,67,301,2,VT-549
18,40916,Rental unit in Madrid · ★4.65 · 1 bedroom · 3 beds · 1 bath,130907,Dana,Centro,Universidad,40.422470,-3.705770,Entire home/apt,90,5,49,2021-12-11,0.32,3,133,0,NaN
19,471328,Rental unit in Madrid · ★4.55 · 1 bedroom · 1 bed · 1 bath,1408525,Mad4Rent,Centro,Sol,40.416280,-3.703640,Entire home/apt,94,3,168,2023-06-07,1.29,67,278,14,VT-532