In [421]:
# Data manipulation
import pandas as pd # data manipulation and dataframes
import numpy as np # arrays manipulation and mathematical operations

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Te quiero demasiado
from tqdm import tqdm

In [422]:
# Pandas configuration
pd.set_option('display.max_columns', None)  # shows all columns
pd.set_option('display.max_colwidth', None)  # shows all cell content

In [423]:
# Reads csvs
mad_df = pd.read_csv('../data/airbnb/mad/listings.csv', index_col = 0)
porto_df = pd.read_csv('../data/airbnb/porto/listings.csv', index_col = 0)
lisbon_df = pd.read_csv('../data/airbnb/lisbon/listings.csv', index_col = 0)

# Index
mad_df.reset_index(drop = False, inplace = True) # resets index named by url
porto_df.reset_index(drop = False, inplace = True) # resets index named by url
lisbon_df.reset_index(drop = False, inplace = True) # resets index named by url

In [424]:
mad_df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6369,Rental unit in Madrid · ★4.87 · 1 bedroom · 1 bed · 1 private bath,13660,Simon,Chamartín,Hispanoamérica,40.45724,-3.67688,Private room,90,4,104,2023-05-31,0.65,1,98,9,NaN

In [425]:
porto_df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,41339,Rental unit in Porto · ★4.70 · 1 bedroom · 3 beds · 1 bath,180050,Paula,PORTO,Lordelo do Ouro e Massarelos,41.1501,-8.66035,Entire home/apt,58,2,20,2022-07-28,0.16,1,147,2,29049/AL

In [426]:
lisbon_df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,393699,Rental unit in Lisboa · ★4.61 · 3 bedrooms · 3 beds · 1 shared bath,1593947,Nuno,Lisboa,Santo Antnio,38.71724,-9.14755,Private room,30,5,150,2022-10-08,1.1,12,169,1,NaN

In [427]:
mad_df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,23524.0,3.042946e+17,3.772467e+17,6369.000000,2.705431e+07,4.842274e+07,7.158394e+17,9.100071e+17
host_id,23524.0,1.961414e+08,1.713861e+08,7952.000000,3.586593e+07,1.398005e+08,3.488715e+08,5.188792e+08
latitude,23524.0,4.042142e+01,2.305564e-02,40.331397,4.040952e+01,4.042008e+01,4.043106e+01,4.053623e+01
longitude,23524.0,-3.694248e+00,2.772664e-02,-3.835330,-3.707461e+00,-3.701150e+00,-3.685967e+00,-3.543760e+00
price,23524.0,1.490957e+02,9.739543e+02,0.000000,5.000000e+01,8.900000e+01,1.430000e+02,8.511000e+04
minimum_nights,23524.0,7.463569e+00,3.301115e+01,1.000000,1.000000e+00,2.000000e+00,3.000000e+00,1.125000e+03
number_of_reviews,23524.0,4.182656e+01,7.869393e+01,0.000000,1.000000e+00,1.000000e+01,4.500000e+01,9.130000e+02
reviews_per_month,18505.0,1.773514e+00,1.877412e+00,0.010000,3.600000e-01,1.160000e+00,2.600000e+00,3.432000e+01
calculated_host_listings_count,23524.0,2.070940e+01,4.864312e+01,1.000000,1.000000e+00,2.000000e+00,1.200000e+01,2.660000e+02
availability_365,23524.0,1.711552e+02,1.342259e+02,0.000000,3.900000e+01,1.600000e+02,3.130000e+02,3.650000e+02
number_of_reviews_ltm,23524.0,1.362817e+01,2.144688e+01,0.000000,0.000000e+00,4.000000e+00,1.900000e+01,4.480000e+02

In [428]:
mad_df.describe(include='object').T

,count,unique,top,freq
name,23524,6826,Rental unit in Madrid · 1 bedroom · 1 bed · 1 bath,752
host_name,23521,4177,Javier,319
neighbourhood_group,23524,21,Centro,10198
neighbourhood,23524,126,Embajadores,2783
room_type,23524,4,Entire home/apt,14873
last_review,18505,1782,2023-06-04,834
license,2652,2262,VT REGISTRADA,44

In [429]:
mad_df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             3
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        5019
reviews_per_month                  5019
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           20872
dtype: int64

### limpieza para introducir en kepler.gl

In [430]:
mad_df.drop(['id', 'host_id', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license'], axis=1, inplace=True)

In [431]:
mad_df = mad_df.rename(columns={'neighbourhood_group': 'district'})

In [432]:
mad_df.sample(5)

,name,host_name,district,neighbourhood,latitude,longitude,room_type,price,minimum_nights
4417,Rental unit in Madrid · 2 bedrooms · 2 beds · 2 baths,Ivory,Chamberí,Rios Rosas,40.44384,-3.696030,Entire home/apt,150,30
20098,Rental unit in Madrid · ★4.50 · 2 bedrooms · 3 beds · 2 baths,Alfredo,Arganzuela,Palos de Moguer,40.40281,-3.691304,Entire home/apt,134,1
12662,Rental unit in Madrid · ★4.17 · Studio · 1 bed · 1 bath,Raquel,Centro,Palacio,40.41295,-3.707520,Entire home/apt,178,1
8671,Rental unit in Madrid · 2 bedrooms · 2 beds · 1 bath,MadreamsRent,Salamanca,Goya,40.42673,-3.677890,Entire home/apt,79,30
7679,Home in Madrid · 1 bedroom · 1 bed · 1.5 shared baths,Jorge,Centro,Embajadores,40.41107,-3.707040,Private room,800,1

In [433]:
mad_df.to_csv('../data/kepler/mad_kepler.csv', index = False, sep = ',')

In [434]:
porto_df.drop(['id', 'host_id', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license'], axis=1, inplace=True)
porto_df = porto_df.rename(columns={'neighbourhood_group': 'district'})
lisbon_df.drop(['id', 'host_id', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license'], axis=1, inplace=True)
lisbon_df = lisbon_df.rename(columns={'neighbourhood_group': 'district'})

In [435]:
porto_df.to_csv('../data/kepler/porto_kepler.csv', index = False, sep = ',')
lisbon_df.to_csv('../data/kepler/lisbon_kepler.csv', index = False, sep = ',')

In [436]:
#mad_df[['description', 'other']] = mad_df.name.str.split("★", expand = True)
mad_df['description'] = mad_df.name.str.split("·", expand = True).get(0)
mad_df['score'] = mad_df.name.str.split("·", expand = True).get(1)

mad_df['description'] = mad_df['description'].apply(str.capitalize)

In [437]:
col_order = ['description', 'score', 'facilities', 
             'host_name', 'district', 'neighbourhood', 
             'room_type', 'price', 'minimum_nights',
              'latitude', 'longitude']

In [438]:


name = mad_df.name.tolist()

aux = []

for n in name:

    aux.append(n.split('·'))

description = []
score = []
facilities_prev = []

for sublist in aux:

    description.append(sublist[0].capitalize().rstrip(' '))
    sublist.remove(sublist[0])

    if '★' in sublist[0]:

        score.append(sublist[0].rstrip(' ').lstrip(' '))
        sublist.remove(sublist[0])
    
    else:

        score.append('Unknown')

    facilities_prev.append(sublist[:])

for sublist in facilities_prev:

    sublist[-1] = sublist[-1] + ' '

facilities = []

for sublist in facilities_prev:

    aux2 = []

    for e in sublist:

        e = e.rstrip(' ').lstrip(' ')

        aux2.append(e)

    facilities.append(aux2)

In [ ]:
def get_description_score_facilities(df_name_col):

    name = df_name_col.tolist()

    aux = []

    for n in name:

        aux.append(n.split('·'))

    description = []
    score = []
    facilities_prev = []

    for sublist in aux:

        description.append(sublist[0].capitalize().rstrip(' '))
        sublist.remove(sublist[0])

        if '★' in sublist[0]:

            score.append(sublist[0].rstrip(' ').lstrip(' '))
            sublist.remove(sublist[0])
        
        else:

            score.append('Unknown')

        facilities_prev.append(sublist[:])

    for sublist in facilities_prev:

        sublist[-1] = sublist[-1] + ' '

    facilities = []

    for sublist in facilities_prev:

        aux2 = []

        for e in sublist:

            e = e.rstrip(' ').lstrip(' ')

            aux2.append(e)

        facilities.append(aux2)

    return description, score, facilities